*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: white;
}
.container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
}
.box{
    width: 380px;
    height: 180px;
    font-size: 3rem;
    text-align: center;
    padding-top: 3rem;
}
#box-1{
    background-color: #00BFFE;
}
#box-2{
    background-color: #FF4500;
}
#box-3{
    background-color: #4169E2;
}
#box-4{
    background-color: #FED700;
}
#box-5{
    background-color: #8A2BE1;
}
#box-6{
    background-color: #32CC38;
}
#box-7{
    background-color: #FF7F50;
}
#box-8{
    background-color: #20B1AA;
}
#box-9{
    background-color: #800000;
}